In [1]:
import pandas as pd
import h3

In [2]:
csv_file = "Boligstroek.csv"

df = pd.read_csv(csv_file)

In [3]:
df

,fid,stroek_navn,middle,long,lat
0,1,Solheim,"298043.77798931784 , 6698375.138693793",60.371276,5.336880
1,2,Gyldenpris,"296983.04861859797 , 6699452.674726245",60.380401,5.316596
2,3,Damsgård,"296204.084520567 , 6699850.04760093",60.383570,5.302093
3,4,Kringsjå,"295359.98971476924 , 6700602.8107019365",60.389889,5.286046
4,5,Nygård (Laksevåg),"294707.9123247841 , 6700448.215830923",60.388174,5.274399
...,...,...,...,...,...
88,89,Espeland,NaN,60.382996,5.472931
89,90,Kirkebirkeland,NaN,60.305851,5.384877
90,91,Totland,NaN,60.307503,5.425684
91,92,Smørås,NaN,60.294548,5.355799
92,93,Rådal,NaN,60.288223,5.313435

# Calculate maximum distance

In [4]:
def calculate_distance(coords_1, coords_2):
    return h3.point_dist(coords_1, coords_2, unit='m')

In [5]:
distances = {}

# Iterate through each row to calculate distances
for index_1, row_1 in df.iterrows():
    for index_2, row_2 in df.iterrows():
        # Skip calculating distance for the same pair of coordinates
        if index_1 != index_2:
            coords_1 = (row_1['long'], row_1['lat'])
            coords_2 = (row_2['long'], row_2['lat'])
            distance = calculate_distance(coords_1, coords_2)

            # Store the distance in the dictionary
            distances[(row_1["stroek_navn"], row_2["stroek_navn"])] = distance

In [6]:
distance_df = pd.DataFrame.from_dict(distances, orient='index', columns=['distance'])

In [7]:
distance_df.sort_values(by="distance",ascending=False)

                             distance
(Rådal, Hordvik)         25173.142572
(Hordvik, Rådal)         25173.142572
(Hordvik, Smørås)        24631.853281
(Smørås, Hordvik)        24631.853281
(Kokstad, Trengereid)    24510.605858
...                               ...
(Skuteviken, Bergenhus)    253.740278
(Skansen, Fjellet)         244.421354
(Fjellet, Skansen)         244.421354
(Bryggen, Stølen)          221.939891
(Stølen, Bryggen)          221.939891

[8556 rows x 1 columns]

# Generate code

In [8]:
def clean_stroekname(stroek_name: str):
    return stroek_name.lower().replace(" ","").replace("()","").replace(")","").replace("æ","ae").replace("ø","oe").replace("å","aa")

In [9]:
for index, row in df.iterrows():
    #print(f"{{ code: \"{str(row['fid'])}{clean_stroekname(row['stroek_navn'])}\", latitude: {row['lat']}, longitude: {row['long']}, name: '{row['stroek_navn']}' }},")
    print(f"{{ code: \"{str(row['fid'])}\", latitude: {row['long']}, longitude: {row['lat']}, name: '{row['stroek_navn']}' }},")

{ code: "1", latitude: 60.37127649527915, longitude: 5.336879786850015, name: 'Solheim' },
{ code: "2", latitude: 60.380400643104686, longitude: 5.316596408982212, name: 'Gyldenpris' },
{ code: "3", latitude: 60.3835699022984, longitude: 5.302093414993073, name: 'Damsgård' },
{ code: "4", latitude: 60.3898886630884, longitude: 5.28604612801252, name: 'Kringsjå' },
{ code: "5", latitude: 60.38817377153113, longitude: 5.274399475378052, name: 'Nygård (Laksevåg)' },
{ code: "6", latitude: 60.386524632012346, longitude: 5.262429674577396, name: 'Gravdal' },
{ code: "7", latitude: 60.3811925129104, longitude: 5.244482314074242, name: 'Lyderhorn' },
{ code: "8", latitude: 60.38491278592026, longitude: 5.228395430381186, name: 'Kjøkkelvik' },
{ code: "9", latitude: 60.37883853761025, longitude: 5.219395927891131, name: 'Olsvik' },
{ code: "10", latitude: 60.37375583516423, longitude: 5.195657170009791, name: 'Godsvik' },
{ code: "11", latitude: 60.36297239464026, longitude: 5.228095970755056, name: 'Vadmyra' },
{ code: "12", latitude: 60.36581492600013, longitude: 5.234393788763356, name: 'Loddefjorddalen' },
{ code: "13", latitude: 60.37366103901841, longitude: 5.349236227727442, name: 'Kronstad' },
{ code: "14", latitude: 60.37887318880138, longitude: 5.357208056412009, name: 'Årstad' },
{ code: "15", latitude: 60.36516016404381, longitude: 5.356690900155878, name: 'Fridalen' },
{ code: "16", latitude: 60.35661507583429, longitude: 5.341439029421865, name: 'Minde' },
{ code: "17", latitude: 60.34642361928855, longitude: 5.334806602097346, name: 'Fjøsanger' },
{ code: "18", latitude: 60.34843142828038, longitude: 5.345093078905621, name: 'Storetveit' },
{ code: "19", latitude: 60.34786120488971, longitude: 5.371471221986871, name: 'Nattland' },
{ code: "20", latitude: 60.36611092280503, longitude: 5.3706233447145735, name: 'Landås' },
{ code: "21", latitude: 60.34202348300611, longitude: 5.380579522275442, name: 'Sædalen' },
{ code: "22", latitude: 60.34677965099607, longitude: 5.35745856729457, name: 'Fantoft' },
{ code: "23", latitude: 60.35594974933241, longitude: 5.362772286614167, name: 'Slettebakken' },
{ code: "24", latitude: 60.422231167074486, longitude: 5.62581495661186, name: 'Trengereid' },
{ code: "25", latitude: 60.41814078241781, longitude: 5.541708289349967, name: 'Skuggestranda' },
{ code: "26", latitude: 60.435896719483466, longitude: 5.477796450389986, name: 'Garnes' },
{ code: "27", latitude: 60.45528713838826, longitude: 5.42963241871513, name: 'Ytre Arna' },
{ code: "28", latitude: 60.41650195813524, longitude: 5.47022787865238, name: 'Indre Arna' },
{ code: "29", latitude: 60.514557550048, longitude: 5.303514830510578, name: 'Hordvik' },
{ code: "30", latitude: 60.50486135429211, longitude: 5.3526494440233146, name: 'Hylkje' },
{ code: "31", latitude: 60.46964998612947, longitude: 5.387024899342976, name: 'Blindheim' },
{ code: "32", latitude: 60.48566329987632, longitude: 5.334011836557068, name: 'Dalabygda' },
{ code: "33", latitude: 60.4867297182508, longitude: 5.383981872195218, name: 'Breistein' },
{ code: "34", latitude: 60.47180636921416, longitude: 5.34616571320928, name: 'Nyborg' },
{ code: "35", latitude: 60.33327185150048, longitude: 5.380086419501858, name: 'Helldalsåsen' },
{ code: "36", latitude: 60.3740377296484, longitude: 5.304639054656689, name: 'Melkeplassen' },
{ code: "37", latitude: 60.33501385566198, longitude: 5.317863801272554, name: 'Kråkenes' },
{ code: "38", latitude: 60.35798049782103, longitude: 5.320759434636321, name: 'Løvstakken og Gullsteinen' },
{ code: "39", latitude: 60.36968362367672, longitude: 5.2616789861285005, name: 'Lyngbø' },
{ code: "40", latitude: 60.353862088030944, longitude: 5.282553328328583, name: 'Nordre Fyllingen' },
{ code: "41", latitude: 60.35964296725959, longitude: 5.304509245070241, name: 'Øvre Fyllingen' },
{ code: "42", latitude: 60.35332770143691, longitude: 5.246502118988286, name: 'Bjørndal' },
{ code: "43", latitude: 60.41130962573778, longitude: 5.323768771492281, name: 'Sandviken' },
{ code: "44", latitude: 60.387660016285416, longitude: 5.34964863436652, name: 'Kalfaret' },
{ code: "45", latitude: 60.38355947100721, longitude: 5.323966703920147, name: 'Møhlenpris' },
{ code: "46", latitude: 60.3861583387714, longitude: 5.332049647740407, name: 'Nygård (Sentrum)' },
{ code: "47", latitude: 60.38876098075952, longitude: 5.315313892281608, name: 'Sydnes' },
{ code: "48", latitude: 60.39102796998136, longitude: 5.333477903089923, name: 'Marken' },
{ code: "49", latitude: 60.39401550066543, longitude: 5.332890960963868, name: 'Fjellet' },
{ code: "50", latitude: 60.39412653302914, longitude: 5.337334653378929, name: 'Skansen' },
{ code: "51", latitude: 60.40374630070945, longitude: 5.328503514770993, name: 'Ladegården' },
{ code: "52", latitude: 60.399903991019904, longitude: 5.330089058642569, name: 'Eidemarken' },
{ code: "53", latitude: 60.391523415108, longitude: 5.318988512735579, name: 'Engen' },
{ code: "54", latitude: 60.391980378971866, longitude: 5.324107078959139, name: 'Sentrum' },
{ code: "55", latitude: 60.39439493381364, longitude: 5.327864753051345, name: 'Vågsbunnen' },
{ code: "56", latitude: 60.39774066320017, longitude: 5.3238410503509055, name: 'Bryggen' },
{ code: "57", latitude: 60.40067908544416, longitude: 5.317731969312446, name: 'Bergenhus' },
{ code: "58", latitude: 60.39958023453588, longitude: 5.325408916154824, name: 'Stølen' },
{ code: "59", latitude: 60.40223482497768, longitude: 5.321111883780217, name: 'Skuteviken' },
{ code: "60", latitude: 60.39291477464691, longitude: 5.31416802298282, name: 'Nøstet' },
{ code: "61", latitude: 60.39564826873292, longitude: 5.317263227372655, name: 'Strandsiden' },
{ code: "62", latitude: 60.39567426313726, longitude: 5.310144222414987, name: 'Verftet' },
{ code: "63", latitude: 60.39879945539774, longitude: 5.307448652388946, name: 'Nordnes' },
{ code: "64", latitude: 60.50512109927429, longitude: 5.2679014714438726, name: 'Salhus' },
{ code: "65", latitude: 60.46883092247518, longitude: 5.307590112649708, name: 'Ulset' },
{ code: "66", latitude: 60.46145200172912, longitude: 5.330637490888099, name: 'Rolland' },
{ code: "67", latitude: 60.46360665373328, longitude: 5.362679821584606, name: 'Flaktveit' },
{ code: "68", latitude: 60.48680955960945, longitude: 5.282002696434712, name: 'Mjølkeråen' },
{ code: "69", latitude: 60.47300478697231, longitude: 5.2712877541173855, name: 'Morvik' },
{ code: "70", latitude: 60.45842544520412, longitude: 5.287671148076753, name: 'Tertnes' },
{ code: "71", latitude: 60.442545215783554, longitude: 5.32337411045491, name: 'Ervik' },
{ code: "72", latitude: 60.43907381422744, longitude: 5.304452018926662, name: 'Eidsvåg' },
{ code: "73", latitude: 60.42730264790797, longitude: 5.2987820340066, name: 'Ytre Sandviken' },
{ code: "74", latitude: 60.42917024676942, longitude: 5.357764160924607, name: 'Jordal' },
{ code: "75", latitude: 60.4457341463252, longitude: 5.375225478526746, name: 'Hjortland' },
{ code: "76", latitude: 60.4206917250088, longitude: 5.429072112823776, name: 'Langedalen' },
{ code: "77", latitude: 60.32533224377657, longitude: 5.2644508409942, name: 'Straume' },
{ code: "78", latitude: 60.30120552361375, longitude: 5.253267158571382, name: 'Kokstad' },
{ code: "79", latitude: 60.2985971343186, longitude: 5.28194275466603, name: 'Sandsli' },
{ code: "80", latitude: 60.30353226360985, longitude: 5.297842672599478, name: 'Steinsvik' },
{ code: "81", latitude: 60.30532197015785, longitude: 5.318770175488199, name: 'Nordås' },
{ code: "82", latitude: 60.30711033393647, longitude: 5.339341288152076, name: 'Skjold' },
{ code: "83", latitude: 60.31161654652081, longitude: 5.365939405869743, name: 'Øvstun' },
{ code: "84", latitude: 60.32026959476283, longitude: 5.370878994186152, name: 'Midtun' },
{ code: "85", latitude: 60.31933095607503, longitude: 5.353968274412763, name: 'Nesttun' },
{ code: "86", latitude: 60.32541925875104, longitude: 5.395970771443804, name: 'Dyngeland' },
{ code: "87", latitude: 60.352234363299615, longitude: 5.425640918944365, name: 'Brattland' },
{ code: "88", latitude: 60.37075984672514, longitude: 5.496516858905329, name: 'Unneland' },
{ code: "89", latitude: 60.38299599169724, longitude: 5.472930530997594, name: 'Espeland' },
{ code: "90", latitude: 60.30585060949911, longitude: 5.384876621409309, name: 'Kirkebirkeland' },
{ code: "91", latitude: 60.30750285152523, longitude: 5.425683641878985, name: 'Totland' },
{ code: "92", latitude: 60.29454834044344, longitude: 5.35579929722164, name: 'Smørås' },
{ code: "93", latitude: 60.28822332615695, longitude: 5.313435158011243, name: 'Rådal' },

In [10]:
for index, row in df.iterrows():
    #print(f"\"{str(row['fid'])}{clean_stroekname(row['stroek_navn'])}\",")
    print(f"\"{str(row['fid'])}\",")

"1",
"2",
"3",
"4",
"5",
"6",
"7",
"8",
"9",
"10",
"11",
"12",
"13",
"14",
"15",
"16",
"17",
"18",
"19",
"20",
"21",
"22",
"23",
"24",
"25",
"26",
"27",
"28",
"29",
"30",
"31",
"32",
"33",
"34",
"35",
"36",
"37",
"38",
"39",
"40",
"41",
"42",
"43",
"44",
"45",
"46",
"47",
"48",
"49",
"50",
"51",
"52",
"53",
"54",
"55",
"56",
"57",
"58",
"59",
"60",
"61",
"62",
"63",
"64",
"65",
"66",
"67",
"68",
"69",
"70",
"71",
"72",
"73",
"74",
"75",
"76",
"77",
"78",
"79",
"80",
"81",
"82",
"83",
"84",
"85",
"86",
"87",
"88",
"89",
"90",
"91",
"92",
"93",